body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}

#gameCanvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#score{
    text-align: center;
    font-size: 3rem;
}

#gameOver{
    position: absolute;
    inset: 0;
    font-size: 3rem;
    line-height: 1;
    background-color:brown;
    color: antiquewhite;
    width: 100%;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}